@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-bottom: 10px;
}

.grid {
  margin-bottom: 10px;
}