@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
    margin-bottom: 50px;
}

.navbar {
  margin-bottom: 10px;
}

.grid {
  margin-bottom: 10px;
}

.product-link:link {
    color: inherit;
    text-decoration: none;
}

.product-link:visited {
    color: inherit;
    text-decoration: none;
}

.card-image {
    padding: 0 10px;
}

.product-description {
    padding: 0 10px;
}